includes:
	- phpstan-baseline.neon

parameters:

	level: 8

	paths:
		- src

	bootstrapFiles:
		- vendor/pimcore/pimcore/stubs/dynamic-constants.php

	reportIgnoresWithoutComments: true

	ignoreErrors:
		-
			identifier: trait.unused
			paths:
				- src/Database/ResetDatabase.php
				- src/Pimcore/*
